a {
  text-decoration: none;
  color: inherit;
}
.nameplate {
  display: flex;
  background-color: white;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: rgb(245, 226, 60);
}

.copyright {
  display: inline-block;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.github-logo {
  display: inline-block;
  margin-left: 5px;
  height: 20px;
}

@media only screen and (max-width: 850px) {
  .copyright {
      font-size: 12px;
  }
  .github-logo {
      height: 15px;
  }
}